/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region COMMON*/

.flex {
    display: flex;
}

.container-big {
    width: 1180px;
    margin: 0 auto;
}

.container-small {
    width: 1000px;
    margin: 0 auto;
}

main img,
.jumbotron img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header a,
footer a {
    text-decoration: none;
    color: black;
}

button {
    all: unset;
    background-color: #0061ff;
    color: white;
    padding: 8px 17px;
    line-height: normal;
}

button:hover {
    cursor: pointer;
}

.col-big {
    width: 70%;
}

.col-small {
    width: 30%
}


/* #endregion COMMON*/


/* #region HEADER*/

/* nav*/

nav {
    justify-content: space-between;
    border-bottom: 1px solid #d1d9e1;
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
    height: 80px;
    line-height: 80px;
}

nav .nav-left,
nav .nav-right {
    align-items: center;
    padding: 25px 15px;
}

nav ul {
    margin-right: 20px;
}

nav li {
    padding-left: 40px;
}

/* jumbotron*/

.jumbotron {
    background-color: #b4d0e7;
    padding-top: 100px;
    margin-bottom: 160px;
}



.jumbotron .col-big {
    position: relative;
}

.jumbotron .col-big img {
    position: absolute;
    left: 0;
    top: 0;
}

.jumbotron h1 {
    font-size: 70px;
    padding-bottom: 70px;
}

.jumbotron p {
    padding-bottom: 30px;
    padding-right: 20px;
    font-size: 15px;

}

.jumbotron .arrow {
    font-size: 42px;
    margin-bottom: 15px;
}

.jumbotron .col-small :nth-last-child(2) {
    padding: 35px 0 70px 0;
}

/* #endregion HEADER*/


/* #region MAIN*/

/*prima section colonne*/

.abbonamenti {
    margin-bottom: 130px;
}

main .container-small input {
    margin-top: 70px;
}

.abbonamenti h2 {
    font-size: 40px;
}

.container-small label {
    font-size: 10px;
    text-align: center;
}

.abbonamenti .row {
    gap: 50px;
    flex-wrap: wrap;
}

.column {

    margin-top: 50px;
    width: calc((100% - 100px) /3);
    border: 1px solid #d0d0d3;
}

.column .category {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px;
}

.column .category i {
    font-size: 14px;
}


.column .category span {
    font-size: 10px;
}

.column-body {
    padding: 35px 30px;
}

ul.vantaggi-abbonamento {
    margin-top: 50px;
}

ul.punti-salienti {
    margin-top: 35px;
}

.tipologia-abbonamento {
    font-size: 18px;
    padding-bottom: 25px;
}

.price {
    font-size: 10px;
}

.frequenza {
    font-size: 10px;
    color: #666666;
    margin-bottom: 55px;
}

.column-body ul {

    margin-bottom: 50px;
}

.column-body ul li {
    margin-bottom: 25px;
    padding-right: 25px;
}

div.buy-now {
    margin: 35px 0 40px 0;
}

.fa-check {
    color: #0061ff;
}

hr.column-hr {
    width: 48px;
    background-color: #d0d0d3;
    margin-bottom: 50px;
}

.column-btn {
    width: calc(100% - 30px);
    text-align: center;
}

div.column.orizzontal {
    flex-grow: 1;
}

div.column.orizzontal .column-body {
    display: flex;
    justify-content: space-between;
}

div.column.orizzontal .column-body .caratteristiche-abbonamento {
    width: 60%;
}

.orizzontal-btn {
    width: 20%;
}

.column.orizzontal .caratteristiche-abbonamento p {
    margin-top: 55px;
}

/*seconda section*/

section .col-big {
    width: 55%;
}

section .col-small {
    width: 45%;
    padding: 55px 65px 0 50px;
}

section .col-small h2 {
    font-size: 27px;
    padding-bottom: 15px;
}

p.partner {
    margin-bottom: 30px;
}

button.normal {
    background-color: white;
    color: black;
    border: 1px solid black
}

/* #endregion MAIN*/


/* #region FOOTER*/
/* #endregion FOOTER*/