/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region COMMON*/

.flex {
    display: flex;
}

.container-big {
    width: 1180px;
    margin: 0 auto;
}

.img {
    display: block;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

header a,
footer a {
    text-decoration: none;
    color: black;
}

button {
    all: unset;
    background-color: #0061ff;
    color: white;
    padding: 8px 17px;
}

button:hover {
    cursor: pointer;
}


/* #endregion COMMON*/


/* #region HEADER*/

/* nav*/

nav {
    justify-content: space-between;
    border-bottom: 1px solid #d1d9e1;
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
}

nav .nav-left,
nav .nav-right {
    align-items: center;
    padding: 25px 15px;
}

nav ul {
    margin-right: 20px;
}

nav li {
    padding-left: 40px;
}

/* jumbotron*/

.jumbotron {
    background-color: #b4d0e7;
    padding-top: 100px;
}

.col-small {
    width: 380px;
}

.col-big {
    width: 800px;
    position: relative;
}

.col-big img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.jumbotron h1 {
    font-size: 70px;
    padding-bottom: 70px;
}

.jumbotron p {
    padding-bottom: 30px;
    padding-right: 20px;
    font-size: 15px;

}

.jumbotron .arrow {
    font-size: 42px;
    margin-bottom: 15px;
}

.col-small :nth-last-child(2) {
    padding: 35px 0 70px 0;
}

/* #endregion HEADER*/


/* #region MAIN*/
/* #endregion MAIN*/


/* #region FOOTER*/
/* #endregion FOOTER*/